<!DOCTYPE html>
{% load static %}

<head>
  <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- Bootstrap CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

     <!-- My CSS -->
     <link rel="stylesheet" href="../../static/orders/homePage.css"/>

     <!-- map  -->
     <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
     <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />


     <title>Floza</title>

</head>

<body>
  <div class="">

    <div class="navigation">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <!-- <a class="nav-link" href="{% url 'menu' %}">MENU</a> -->
          <a href="{% static "/files/FlozaMenu.pdf" %}" target="_blank"><p>MENU</p></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'makeOrder' %}">ORDER</a>
        </li>
        <li class="nav-item" >
          <a href="{% url 'homePage' %}"><img src="{% static "/imgs/flozaLogo.png" %}" class="nav-link" id="logo" alt="FLOZA"  width="150px"> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTACT</a>
        </li>

      </ul>
    </div>

    <div class="Contact">
      <img src="{% static "/imgs/pizza1.jpg" %}"  class="img-fluid" alt="...">
    </div>

    <div class="mainTitle">Flora Pizza~<br/>FloZa</div>
    <div class="orderBtn">

      <button type="button" class="btn btn-outline-warning" > Order Now!</button>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div id='map'>
            <script>
              mapboxgl.accessToken = 'pk.eyJ1IjoiZmxvcmF5anoiLCJhIjoiY2ttbDRibnhjMTducTJ2bzRta3dxNW4yNCJ9.Tdik3mVa84FE1gY--IGMzw';
              var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                center: [-96.33,30.61],
                zoom: 15
              });

              var marker = new mapboxgl.Marker({
                color: "#e7593b",
                draggable: false
                }).setLngLat([-96.33, 30.61])
                .addTo(map);
            </script>
      </div>
        </div>
        <div class="col">
          <div class="contactInfo">
            <p>VISIT US</p>
            <p>WEEKDAYS: 10:00 AM TO 8:00 PM</p>
            <p>WEEKENDS: 12:00 AM TO 6:00 PM</p>
            <p>1993 NOTEXIST LANE, COLLEGE STATION, TX</p>
            <p> 404.404.4004</p>
            <a href="{% static "/files/FLOZA.vcf" %}"  class="btn btn-outline-secondary">Download</a>
          </div>
        </div>
      </div>
    </div>

    <div id="foot">
          <p>©This website is designed and developed by Yijun Zhang (Flora). All rights reserved.</p>
        </div>




</body>
