<!DOCTYPE html>
{% load static %}

<head>
  <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- Bootstrap CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

     <!-- My CSS -->
     <link rel="stylesheet" href="../../static/orders/homePage.css"/>


     <title>Floza</title>

</head>

<body>
  <div class="">

    <div class="navigation">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <!-- <a class="nav-link" href="{% url 'menu' %}">MENU</a> -->
          <a href="{% static "/files/FlozaMenu.pdf" %}" target="_blank"><p>MENU</p></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'makeOrder' %}">ORDER</a>
        </li>
        <li class="nav-item" >
          <a href="{% url 'homePage' %}"><img src="{% static "/imgs/flozaLogo.png" %}" class="nav-link" id="logo" alt="FLOZA"  width="150px"> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTACT</a>
        </li>

      </ul>
    </div>


    <img src="{% static "/imgs/pizza1.jpg" %}"  class="img-fluid" alt="...">

    <div class="mainTitle">Flora Pizza~<br/>FloZa</div>
    <div class="orderBtn">

      <button type="button" class="btn btn-outline-warning" > Order Now!</button>
    </div>


    <!-- <div class="container">
      <div class="row">
        <div class="col-sm">
          Introduction
        </br> The pizza is good
      </br> The website designer Flora Zhang is also good!
        </div>
        <div class="col-sm">
          Pizza Picture
        </div>
        <div class="col-sm">
          Google Map API
        </div>
      </div>
    </div>

  </div> -->

</body>
